<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>05F8B7AB-17F6-47B8-8020-53269C50E186</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>750FB19B-3EE4-4C0A-B295-1EA98FC6FB88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>44D48DAA-ACE9-45D1-94F9-37AFF3FAF65E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0BDC336-6F62-43C0-8AFE-742AD1C38929</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9609BF3-A797-462E-88C0-975567E47101</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open list</string>
			</dict>
		</array>
		<key>5B5CC876-AE3D-428C-B6B1-8262F4E2D5BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4CC7EE6-18A6-4049-BABB-2E14E8C42442</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73D08EC2-1029-494F-BC32-7179650B3674</key>
		<array/>
		<key>750FB19B-3EE4-4C0A-B295-1EA98FC6FB88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4CC7EE6-18A6-4049-BABB-2E14E8C42442</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9CA2C928-6080-4750-9B2B-9B85C3F5A99E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0BDC336-6F62-43C0-8AFE-742AD1C38929</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9609BF3-A797-462E-88C0-975567E47101</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open list</string>
			</dict>
		</array>
		<key>A9609BF3-A797-462E-88C0-975567E47101</key>
		<array/>
		<key>E593BAFB-619D-4596-AA34-6D94A0C514D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0BDC336-6F62-43C0-8AFE-742AD1C38929</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9609BF3-A797-462E-88C0-975567E47101</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open list</string>
			</dict>
		</array>
		<key>F0BDC336-6F62-43C0-8AFE-742AD1C38929</key>
		<array/>
		<key>F45C1790-23E7-4C01-8915-E4E0E69E6274</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B5CC876-AE3D-428C-B6B1-8262F4E2D5BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F4D3CB4F-0E89-44D1-A5EA-A3A11021873D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73D08EC2-1029-494F-BC32-7179650B3674</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Piotr Wilczyński</string>
	<key>description</key>
	<string></string>
	<key>name</key>
	<string>TodoFlow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TodoFlow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C4CC7EE6-18A6-4049-BABB-2E14E8C42442</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from todo_activate import activate
activate('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B5CC876-AE3D-428C-B6B1-8262F4E2D5BC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>dyn.ah62d4rv4ge81k55er6</string>
				</array>
				<key>name</key>
				<string>Activate list aa</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>F45C1790-23E7-4C01-8915-E4E0E69E6274</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from todo_dotask import do_task
do_task('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0BDC336-6F62-43C0-8AFE-742AD1C38929</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from todo_addtask import append as add  # append, prepend, insert_into_inbox
from config import one_filepath as path
add(path, """{query}""")
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73D08EC2-1029-494F-BC32-7179650B3674</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>text</key>
				<string>Add task '{query}' for today</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F4D3CB4F-0E89-44D1-A5EA-A3A11021873D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>script</key>
				<string>from todo_listtasks import list_file
from config import one_filepath as path
print list_file(path, '{query}')
</string>
				<key>title</key>
				<string>No current tasks in list</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>44D48DAA-ACE9-45D1-94F9-37AFF3FAF65E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tt</string>
				<key>script</key>
				<string>from todo_listtasks import list_files
from todo_activate import list_active
print list_files(list_active(), '{query}')
</string>
				<key>title</key>
				<string>No current tasks in lists</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9CA2C928-6080-4750-9B2B-9B85C3F5A99E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import subprocess
from utils import split_query
x, path = split_query('{query}')
subprocess.call('open ' + path, shell=True)
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A9609BF3-A797-462E-88C0-975567E47101</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from todo_activate import deactivate
deactivate('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>750FB19B-3EE4-4C0A-B295-1EA98FC6FB88</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>dyn.ah62d4rv4ge81k55er6</string>
				</array>
				<key>name</key>
				<string>Deactivate list dd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>05F8B7AB-17F6-47B8-8020-53269C50E186</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ttt</string>
				<key>script</key>
				<string>from todo_listtasks import list_file, AlfredList
from config import base_path, standard_extension

path = base_path + '{query}' + standard_extension
try:
	open(path, 'r')
except:
	a = AlfredList()
	a.append('', 'File not found', '')
	print a
else:
	print list_file(path, '')
</string>
				<key>title</key>
				<string>No current tasks in list</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E593BAFB-619D-4596-AA34-6D94A0C514D9</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>05F8B7AB-17F6-47B8-8020-53269C50E186</key>
		<dict>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>44D48DAA-ACE9-45D1-94F9-37AFF3FAF65E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5B5CC876-AE3D-428C-B6B1-8262F4E2D5BC</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>73D08EC2-1029-494F-BC32-7179650B3674</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>750FB19B-3EE4-4C0A-B295-1EA98FC6FB88</key>
		<dict>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>9CA2C928-6080-4750-9B2B-9B85C3F5A99E</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>A9609BF3-A797-462E-88C0-975567E47101</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>C4CC7EE6-18A6-4049-BABB-2E14E8C42442</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>E593BAFB-619D-4596-AA34-6D94A0C514D9</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>F0BDC336-6F62-43C0-8AFE-742AD1C38929</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F45C1790-23E7-4C01-8915-E4E0E69E6274</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>F4D3CB4F-0E89-44D1-A5EA-A3A11021873D</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
