body {
    padding: 0;
    width: 100%;
    color: black;
    font-family: Georgia;
    line-height: 1.6em;
    font-size: 100%;
    word-wrap: break-word;
}

.project0, .project1, .project2, .project3, .project4, .project5{
    font-family: Avenir;
    font-weight: bold;
}

.project0{
    font-size: 1.6em;
}

.project1{
    font-size: 1.3em;
}

.project2{
    font-size: 1.1em;
}

 .project3, .project4, .project5{
    font-size: 0.9em;
 }

.note0, .note1, .note2, .note3, .note4, .note5{
    color: gray;
}

.tag{
    font-style: italic;
    color: #19578A;
}

.done{
    text-decoration: line-through;
    color: gray;
}
