body {
    margin: 0;
    color: #d6d6d6;
    font-family: 'Source Sans Pro';
    background-color: #33393f;
    line-height: 1.6em;
    font-size: 100%;
    word-wrap: break-word;
}

a, a:visited{
    color: #d6d6d6;
    text-decoration: none;
}

a:hover{
    color: white;
}

.project-0, .project-1, .project-2, .project-3, .project-4, .project-5{
    color: #b2cae5;
    font-family: Avenir;
    font-weight: bold;
}

.project-0{
    font-size: 1.6em;
}

.project-1{
    font-size: 1.3em;
}

.project-2{
    font-size: 1.1em;
}

 .project-3, .project-4, .project-5{
    font-size: 0.9em;
 }

.note0, .note1, .note2, .note3, .note4, .note5{
    color: gray;
}

.tag{
    font-style: italic;
    color: #91ABC2;
}

.linked-tag{
    display: inline-block;
    background-color: black;
}

.done{
    text-decoration: line-through;
    color: gray;
}


ul li{
 list-style: none;
}

ol > a > li{
    list-style: decimal;
}

ul li.task:before { 
    content: "- ";
}

ol > a > li.task:before { 
    content: "";
}

.green{
    color: #7BF054;
}

.blue{
    color: #0092C6;
}

.orange{
    color: coral;
}

.gray{
    color: gray;
}


.reload-button{
    display: block;
    width: 100%;
    padding:0.5em 0;
    font-size: 2em;
    text-align: center;
}

.reload-button:hover{
    background-color: steelblue;
    color: white;
}

.soon{
    color: firebrick;
}

.this-week{
    color: coral;
}

.days-number{
    font-weight: 700;
    font-size: 1.3em;
}

.section-title{
    font-size: 1em;
    color: #5B6670;
    text-align: center;
    margin: 0;
}

.agenda-section{
    padding: 0.5em 0 2em 0;
    margin: 0;
}

.deadlines-section{
    background-color: #332929;
}


.dates-section{
    background-color: #333129;
}

.working-section{
    background-color: #29332C;
}

.next-section{
    background-color: #2B2933;
}

.countdown{
    list-style: none;
}