body {
    font-family: "Palatino" "Book Antiqua", serif;
    font-size: 100%;
    background-color: #FFFFFC;
    color: #262626;
}

.container {
}

ul{
    padding: 0;
    list-style-type: none;
}

li {

}

.task0, .task1, .task2, .task3, .task4 {
    display: inline-block;
    margin-left: 1em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


.note0, .note1, .note2, .note3, .note4{
    font-style: italic;

}

.project0, .project1, .project2, .project3, .project4 {
    display: inline-block;
    width: 5cm;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    color: #262626;
    font-family: "Futura" "Calibri" "Helvetica Neue" sans-serif;
    font-weight: bold;
}

.project0 {
    padding-top: 1.5em;

}

.project0 {
    font-size: 1.0em;
}

.project1 {
    font-size: 0.9em;
}

.project2 {
    font-size: 0.8em;
}

.project3 {
    font-size: 0.7em;
}

.project4 {
    font-size: 0.6em;
}


.task1, .note1, .project1 {
    padding-left: 1em;
}

.task2, .note2, .project2 {
    padding-left: 2em;
}

.task3, .note3, .project3 {
    padding-left: 3em;
}

.task4, .note4, .project4 {
    padding-left: 4em;
}

/*.done {
    color: #626262;
    text-decoration: line-through;
}
*/
.tag {
    font-style: italic;
    font-weight: normal;
    color: #5F82FF;
}

.task0:before, .task1:before, .task2:before, .task3:before, .task4:before{
    content:"";
    font-size: 1.2em;
    position:relative;
    left:-0.5em;
}

.done:before{
    content:"☑";
    font-size: 1.2em;
    position:relative;
    left:-0.5em;
}
